# for IDE
.idea/
.vscode/
__pycache__/

# for redundant files
*~
*.pyc
*.jpg
*.swp
*.tar.gz
*.zip
*.tar
*.json


# for data and experiments directories
ckpt/
checkpoint/
data/
h36m/
h36m_ft/

# for jupyter notebook
.ipynb_checkpoints/
Would skip repository src/progress

!img/*.png
